#hosts(ng:controller="Host")
	header.title
		h2 Hosts

	.container
		table
			tr
				th Hostname
				th IP
				th MAC
			tr(ng:repeat="host in hosts")
				td {{ host.hostname() }}
				td {{ host.ip() }}
				td {{ host.mac() }}