!!!
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title DHCPMan
		link(rel="stylesheet", href="vendors/bootstrap/docs/assets/css/bootstrap.css")
		link(rel="stylesheet", href="vendors/angular-ui/build/angular-ui.css")
		link(rel="stylesheet", href="styles/dhcpman.css")

		//- In Dependency order, or close enough.
		script(src="http://code.jquery.com/jquery-1.8.3.js")
		script
			jQuery.template = function(tplSel) {
				return jQuery("#templates " + tplSel).html()
			}

		//- script(src="vendors/jquery-mobile/compiled/jquery.mobile.min.js")
		script(src="vendors/bootstrap/docs/assets/js/bootstrap.min.js")
		script(src="vendors/underscore/underscore-min.js")
		script(src="vendors/superscore/lib/superscore.min.js")

		script(src="vendors/jefri/min.js")
		script(src="vendors/jefri/stores/min.js")

		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js")
		script(src="vendors/angular-ui/build/angular-ui.js")

	body
		.app(ng:app="dhcpman")
			.menu
				.navbar-inner
					.container
						ul.nav
							li
								a(href="#/hosts") Hosts
							li
								a(href="#/routers") Routers
			ng:view

			export

		#templates(style="display:none")
			include ../pages.html

			include ../templates.html

		script(src="scripts/app.js")
		script(src="scripts/services.js")
		script(src="scripts/filters.js")
		//- script(src="scripts/controllers.js")
		script(src="scripts/directives.js")
		script(src="scripts/components.js")
		script(src="scripts/pages.js")

		//- script(src="dist/modeler.min.js")
		//- script(src="dist/modeler.ls.js")
